<!DOCTYPE html>
<html>
  <head>
    <title>{{page_title}}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>
  <body>
    <div id="uploaded">
	  <input type="file" name="file" onchange="onUploadClicked(event)" style="width: 100em">
	</div>
	<form action="{{url_for('upload_file')}}" method="post">
	  <input type="file" name="file">
	  <input type="submit" value="Submit">
	</form>
	<form action="{{url_for('geoApi')}}" method="post">
	  <input type="text" placeholder="Address" name="main_add"/>
	  <input type="text" placeholder="City" name="city_add"/>
	  <input type="text" placeholder="State" pattern="[A-Z][A-Z]" name="state_add"/>
	  <input type="submit" value="Submit">
	</form>
	<a href=# id=test><div id="address_results"></div></a>
	
	<script type="text/javascript">
	  function toPython(fileContents) {
	    $.post("receiver", fileContents, function(){});
		event.preventDefault();
	  }//end toPython()
	  
	  function onUploadClicked(e) {
	    var file = e.target.files[0];
        if (!file) {
          return;
        }
	    var reader = new FileReader();
        
  	    reader.onload = function(e) {
    	  var contents = e.target.result;
		  //now that you have a file, do something useful with it
		  toPython(contents);
	      document.getElementById("uploaded").innerHTML = '<p>' + contents + '</p>';
  	    };
  	    reader.readAsText(file);
      }//end onUploadClicked()
	</script>
  </body>
</html>
	
